<!DOCTYPE html>
<html>

<head>
    <title> Lessons For All </title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style/style.css">
    <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
        </header>

        <div v-if='showProduct'>
            <!-- this is the search bar and cart button. the cart button only enables if there is something in the cart -->
            <input type="text" v-model="searchBar" placeholder="Search"/>
            <button :disabled=cart.length==0 class="basket" @click='showCheckout'> {{this.cart.length}} <span class="fas fa-cart-plus"></span>cart</button>

            <!--ascending and  descending options  "sort.attributes" will contain the "value"-->
            <input type="radio" v-on:click="sortLow(sort.attributes)" id="decending" value="decending" v-model="sort.option">
            <label for="acending">Ascending</label>

            <input type="radio" v-on:click="sortHigh(sort.attributes)" id="acending" value="acending" v-model="sort.option">
            <label for="acending">Descending</label>

            <!-- Sorting Options-->
            <input type="radio" v-on:change=norml(sort.option) id="spaces" value="spaces" v-model="sort.attributes">
            <label for="spaces">Space</label>

            <input type="radio" v-on:change=norml(sort.option) id="price" value="price" v-model="sort.attributes">
            <label for="price">Price</label>

            <input type="radio" v-on:change=norml(sort.option) id="locations" value="locations"
                v-model="sort.attributes">
            <label for="locations">Location</label>

            <input type="radio" v-on:change=norml(sort.option) id="title" value="title" v-model="sort.attributes">
            <label for="title">Title</label>

            <!--filteredProducts(this.lessons) for the search and copying the results into "lesson". the index shows specific lessons-->
            <div id="cards " class="box_lesson" v-for="(lesson,index) in filteredProducts(this.lessons)">
                <img class="icon_image" v-bind:src="lesson.image">
                <h2 class="lessons_title">     Subject: {{lesson.title}}</h2>
                <p  class="lessons_location">  Location: {{lesson.locations}}</p>
                <p  class="lessons_price">     Price: {{lesson.price}}£</p>
                <p  class="lessons_space">     Spaces: {{lesson.spaces}}</p>
                <button type="button" class="add_to_cart" v-on:click="addToCart(lesson)" :disabled="!canAddToCart(lesson)"><span class="fas fa-cart-plus"></span>Add To Cart</button>
            </div>
        </div>

        <!-- cart page -->
        <div v-else>
            <!-- checkout section -->
            <div class="cart_info">
                <h2>Checkout</h2>

                <!-- name text box-->
                <p>
                    <strong>Name:</strong>
                    <input v-model="name" type="text" />
                </p>

                <p>
                    <strong>Phone:</strong>
                    <input v-model="phone" type="text" onkeyup="vueApp.check_phone(this)">
                </p>


                <!-- Disablese checkout button if condtions are not met -->
                <button :disabled="!(name.length>0 && check_phone(phone))" v-on:click="submitForm">Checkout</button>
                <!-- cart button to go back to main page -->
                <button class="basket" @click='showCheckout'> {{this.cart.length}} <span class="fas fa-cart-plus"></span>Cart</button>

            </div>

            <!-- loops through cart array and displays it -->
            <div id="cards " class="box_lesson" v-for="(x,index) in cart" :key="cart.title">

                <img class="icon_image" v-bind:src='x.image'>
                <h2 v-text='x.title'></h2>
                <p>Location: {{x.location}}</p>
                <p>Price: £{{x.price}}</p>
                <button type="button" class="remove btn-danger" v-on:click="item_remove(index)">Remove</button>

            </div>
        </div>
    </div>

    <script src="src/lessons.js"></script>
    <script src="src/vue.js"></script>
</body>

</html>